*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}


.card-funcionario{
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 1px black;
    width: 300px;
    padding: 8px 16px;
}

.header-site{
    background-color: #222E50;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.header-link-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.header-link a{
    padding: 2px 15px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.header-link a:hover{
    box-shadow: 0 2px 0 white;
}

.cadastro {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-form-cadastro, select, .cadastro-button {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadastro-button {
    background-color: #222E50;
    color: white;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #333B58;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-filter{
    margin-bottom: 2rem;
}

.filter-button{
    background-color: #222E50;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;
    margin-left: 1rem;
}

.filter-button:hover{
    background-color: #333B58;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center; 
    margin-bottom: 3rem;
}

.footer-site{
    background-color: #222E50;
}